/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/upload/gambar_des_639843dfb8cb5.png
public/upload/gambar_des_63984400d47fb.jpeg
